/**
* Button section
*/

.buttons-section-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 234px;
  left: calc(50% - 176px / 2);
  width: 176px;
  height: 28px;
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
  }
}
