.machine-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 388px;
  left: calc(50% - 300px / 2);
  width: 300px;
  height: 200px;
  .juice-container {
    position: absolute;
    top: 0%;
    left: calc(50% - 7px);
  }
  .cup-container {
    z-index: 1;
    transform-origin: bottom;
    &.medium {
      transform: scale(0.9, 0.8);
    }
    &.small {
      transform: scale(0.85, 0.65);
    }
  }
}
