.screen-section-container {
  position: absolute;
  top: 28px;
  left: calc(50% - 410px / 2);
  width: 410px;
  height: 195px;
  border-radius: 10px 10px 30px 30px;
  overflow-x: hidden;

  .screen-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
      @include body("Montserrat");
    }
    .screen-icons-main-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 10px;

      .bubble-tapioca-container,
      .bubble-taste-container {
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        p {
          @include caption("Montserrat", 12px);
          text-align: center;
        }
      }
      .cup-color-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .screen-cup-size-icons-main-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      .cup-size-icons-container {
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.5rem 0.25rem 0rem 0.25rem;
        p {
          @include caption("Montserrat Italic", 12px);
          text-align: center;
        }
      }
    }
    .cup-text-container {
      display: flex;
      margin-bottom: 20px;
      input {
        width: 250px;
        height: 40px;
        @include emphasis("Montserrat");
      }
    }
    .post-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
        span {
          display: block;
          color: $redBubbleTea;
          @include caption("Montserrat SemiBold", 32px, 38px);
        }
      }
    }
  }
}
