@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../../fonts/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../../fonts/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat SemiBold Italic";
  src: url("../../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cookie";
  src: url("../../fonts/Cookie-Regular.ttf") format("truetype");
}
