/**
 * Typography
 */

h1 {
  font-family: "Montserrat SemiBold";
  @include fontSize(32px);
  line-height: 64px;
}

h2 {
  font-family: "Montserrat SemiBold";
  @include fontSize(24px);
  line-height: 40px;
}

h3 {
  font-family: "Montserrat SemiBold";
  @include fontSize(18px);
  line-height: 40px;
}

@mixin emphasis($font) {
  font-family: $font;
  @include fontSize(20px);
  line-height: 32px;
}

@mixin body($font) {
  font-family: $font;
  @include fontSize(16px);
  line-height: 28px;
}

@mixin caption($font, $size, $line: auto) {
  font-family: $font;
  @include fontSize($size);
  line-height: $line;
}
